<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
<link rel='stylesheet' type='text/css' href='css/index.css' />
<link rel='stylesheet' type='text/css' href='css/fullcalendar.css' />
<link rel="stylesheet" type="text/css" href="css/smoothness/jquery-ui-1.8.13.custom.css" />	
<script type='text/javascript' src='js/jquery-1.5.2.min.js'></script>
<script type='text/javascript' src='js/jquery.jsoncookie.js'></script>
<script type='text/javascript' src='js/json2.js'></script>
<script type='text/javascript' src='js/fullcalendar.js'></script>
<script type='text/javascript' src='js/jquery.template.js'></script>
<script type='text/javascript' src='js/index_ui.js'></script>
<script type='text/javascript' src='js/index.js'></script>
</head>

<body>
    <div id="transparentProfile" class="hidden" onClick="hidePersonalInfo()"></div>
	<span id="profile" >
		<div id="profileLeft">
			<div id = "profileData" ></div>
			<div id = "profileButton" onClick="showPersonalInfo()">個<br>人<br>資<br>料</div>
			<div class = "clear"></div>
		</div>
	</span>
	<span id = "editProfilePage" class="hidden"></span>
	
	<div id="notificationBackground" class="hidden"></div>
	<div id="notification" class="hidden">
       <div id="notificationText"></div>
       <div id="notificationButton" onClick="closeNotification();">確認</div>
    </div>
	
    <div id="transparent" class="hidden">
	    <div id="queryDiv" class="hidden">
		</div>
	</div>
	
	<div id="listDiv">
		<div id="listTitle" class="title"><div class="button" id="new" onClick='newRegist()'>+ 新增掛號</div></div>
<!-- 		<div class="button" id="new" onClick='newRegist()'>+ 新增掛號</div>-->		
		<div class="tableDiv"></div>
	</div>
	
	<div id="calendar">

			
	</div>
	<div class="clear"></div>
</body>
</html>
