<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
<link rel='stylesheet' type='text/css' href='css/fullcalendar.css' />
<link rel='stylesheet' type='text/css' href='css/index.css' />
<title>個人資訊</title>
<script type='text/javascript' src='js/jquery-1.5.2.min.js'></script>
<script type='text/javascript' src='js/jquery.jsoncookie.js'></script>
<script type='text/javascript' src='js/json2.js'></script>
<script type='text/javascript' src='js/fullcalendar.js'></script>
<script type='text/javascript' src='js/index_ui.js'></script>
<script type='text/javascript' src='js/jquery.template.js'></script>
<script type='text/javascript' src='js/register.js'></script>
</head>

<body>
    <div id="transparentBackground" class="hidden">
        <div id="whiteBackground" >
	        <div id="onLoad">讀取中</div>
        </div>
    </div>

	<div id="transparent" class="hidden">
	 <div id="checkRegister" class="hidden">
		</div>
	</div>
    <div id="notificationBackground" class="hidden"></div>
	<div id="notification" class="hidden">
       <div id="notificationText">請先填入資料</div>
       <div id="notificationButton" onClick="closeNotification();">確認</div>
    </div>
	
	<div id="personal">
		<div id="photoTitle" class="title">個人資料</div>
		<div class="photoList" id="personList">			
		
		</div>
		<!--  <div class="button" id="newInfo" onClick="editPage('新增個人資料',1)">新增資料</div> -->
	</div>

	
	
	<div id="info">
				
		<div class="redTitle">填寫個人資料 </div>
		
<form id="personalInfo" method="post" enctype="multipart/form-data"
			action="/">
			<div class="formData">

				<div class="inputTextLeft">姓名：</div>
				<div class="inputTextRight">
					<input type="text" id="inputNameValue" placeholder="請輸入姓名"></input>
	 					<span class='selectInfo'>性別：
		 					<select id="inputGender">
		 						<option value="0"></option>
							  <option value="1">男</option>
							  <option value="2">女</option>
							</select>
						</span>
 				</div>

				<div class="clear"></div>
				<div class="inputTextLeft">身分證：</div>
				<div class="inputTextRight">
					<input type="text" id="inputIdValue" placeholder="請輸入身分證字號"></input>
					 <span class='selectInfo'>國籍：
	 					<select id="inputNation">
	 						<option value="0"></option>
						  <option value="1">本國</option>
						  <option value="2">外國</option>
						</select>
					</span>
				</div>
				<div class="clear"></div>
				<div class="inputTextLeft">生日：</div>
				<div class="inputTextRight">
					<input type="text" id="inputBirthdayValue"
						placeholder="例：1988-02-03"></input>
					<span class='selectInfo'>婚姻：
	 					<select id="inputMarriage">
	 						<option value="0"></option>
						  <option value="1">未婚</option>
						  <option value="2">已婚</option>
						  <option value="3">離婚</option>
						  <option value="4">喪偶</option>
						</select>
					</span>
				</div>
				<div class="clear"></div>
				<div class="inputTextLeft">電話：</div>
				<div class="inputTextRight">
					<input type="text" id="inputPhoneValue"
						placeholder="請輸入電話"></input>
						<span class="editButton" id="editButton" onclick="takeshot()">拍照</span>
					<!-- <span id="inputPhoneValue" ></span> -->
				</div>
				<div class="clear"></div>
			</div>
			<a class="button" id="lastPage" onClick="lastPage();"	>上一步</a> 
			<a class="button" id="submit" onClick="javascript:updateCookie();">完成</a>
			<div class="clear"></div>

            <input type="hidden" id="hiddenId" ></input> 
            <input type="hidden" id="hiddenBirthday"></input> 
            <input type="hidden" id="hospitalId" value="{{hospitalId}}"></input>
            <input type="hidden" id="hospitalUrl" value="{{hospitalUrl}}"></input>
            <input type="hidden" id="deptId" value="{{deptId}}"></input>
            <input type="hidden" id="doctorId" value="{{doctorId}}"></input>
            <input type="hidden" id="inputHospital" value="{{hospital}}"></input>
            <input type="hidden" id="inputDept" value="{{dept}}"></input>
            <input type="hidden" id="inputDoctor" value="{{doctor}}"></input>
            <input type="hidden" id="inputTime" value="{{time}}"></input>
		</form>
	</div>
	
	
</body>
</html>
