<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
<link rel='stylesheet' type='text/css' href='css/fullcalendar.css' />
<link rel='stylesheet' type='text/css' href='css/index.css' />
<script type='text/javascript' src='js/jquery-1.5.2.min.js'></script>
<script type='text/javascript' src='js/jquery.jsoncookie.js'></script>
<script type='text/javascript' src='js/json2.js'></script>
<script type='text/javascript' src='js/fullcalendar.js'></script>
<script type='text/javascript' src='js/index_ui.js'></script>
<script type='text/javascript' src='js/jquery.template.js'></script>
<script>
	$(document).ready(function() {
	//dropTable();
        /* $('#editButton').addClass('hidden'); */
		selectAllPerson();
	});

	function selectAllPerson() {
        updateLeftList();
	}

	function updateLeftList() {
        $('#personList').html("");
        var results = $.cookie("data");
		for ( var i = 0; i < results.length; i++) {
			var row = results[i];
			var person = new Object();

			person.name = row.name;
			person.id = row.id;
			person.birthday = row.birthday;
			person.phone = row.phone;

			$('#personList')
					.append(
							'<div class="photo"><img src="http://www.cs.nctu.edu.tw/~hcsu/hospital_db/view_image.php?id='
                                    + person.id
									+ '" width="100px" onClick="updateRightData(\''
									+ person.name
									+ '\',\''
									+ person.id
									+ '\',\''
									+ person.birthday
									+ '\',\''
									+ person.phone
									+ '\')"></img></div>');
		}
	}
	function deletePerson(idNumber) {
        var results = $.cookie("data");
		for ( var i = 0; i < results.length; i++) {
            if(results[i].id == idNumber) {
                results.splice(i,1);
                break;
            }
        }
        $.cookie("data", results);
        $('#editButton').addClass('hidden');
        updateLeftList();
		$('#inputNameValue').html("");
		$('#inputIdValue').html("");
		$('#inputBirthdayValue').html("");
		$('#inputPhoneValue').html("");
        hideEditPage();
	}
	function updateRightData(name, id, birthday, phone) {
        /* $('#editButton').removeClass('hidden'); */

		$('#inputNameValue').val(name);
		$('#inputIdValue').val(id);
		$('#inputBirthdayValue').val(birthday);
		$('#inputPhoneValue').val(phone);
	}
	function updateCookieCheck(){
		alert('XD');
		$('#checkRegister').html("");
		$('#checkRegister').append('<div id="title">掛號成功</div>');
		$('#checkRegister').removeClass('hidden');
		$('#transparent').removeClass('hidden');
		 /* $('#checkRegister').html("是否儲存個人資訊在此裝置，若不儲存則無法在首頁看到您的掛號資訊");
		 $('#checkRegister').append('<div id="check" onClick="updateCookie()">是</div><div id="check" onClick="submitRegister()">否</div>'); */
		
	}
    function updateCookie() {
		var inputName = $('#inputNameValue').val();
		var inputId = $('#inputIdValue').val();
		var inputBirthday = $('#inputBirthdayValue').val();
		var inputPhone = $('#inputPhoneValue').val();


        if(inputName.length != 0 && inputId.length != 0 && inputBirthday.length != 0 && inputPhone.length != 0) {
            $('#transparentBackground').removeClass("hidden");
            if( navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/iPad/i)) {
                window.location="/submitNewUserInfo";
            }
            //for cookie
            var old_data = $.cookie("data");
            var isExist = false;
            var candidate;
            if(old_data == null) {
                old_data = new Array();
            }
            else {
                for ( var i = 0; i < old_data.length; i++) {
                    if(old_data[i].id == inputId) {
                        isExist = true;
                        candidate = i;
                        break;
                    }
                }
            }
            if(!isExist) {
                var data = {
                    name: inputName,
                    id: inputId,
                    birthday: inputBirthday,
                    phone: inputPhone
                };
                old_data.push(data);
            }
            else {
                old_data[candidate].name = inputName;
                old_data[candidate].id = inputId;
                old_data[candidate].birthday = inputBirthday;
                old_data[candidate].phone = inputPhone;
            }
            $.cookie("data",old_data);
            //updateLeftList();
            //updateRightData(inputName, inputId, inputBirthday, inputPhone);
            hideEditPage();

			$.ajax({
				type : "GET",
				url : "http://www.cs.nctu.edu.tw/~hcsu/hospital/local-ajax/newUser.php",
				dataType : "jsonp",
				data : {
					"id" : inputId,
					"birthday" : inputBirthday
				},
				success : function(response) {
					backIndex();
					/* submitRegister(); */
				},
				error : function(xhr, ajaxOptions, thrownError) {
					//alert(xhr.status);
					//alert(thrownError);
				}
			});
		} else {
            showNotifiaction();
		}
    }

/* 	function submitForm() {
		var inputName = $('#inputNameValue').html();
		var inputId = $('#inputIdValue').html();
		var inputBirthday = $('#inputBirthdayValue').html();
		var inputPhone = $('#inputPhoneValue').html();


        if(inputName.length != 0 && inputId.length != 0 && inputBirthday.length != 0 && inputPhone.length != 0) {
            $('#postId').val(inputId);
            $('#postBirthday').val(inputBirthday);
            $('#personalInfo').submit();
		} else {
            showNotifiaction();
		}
	} */
	function backIndex() {
		window.location = "/";
	}
	function submitRegister() {
		if ($('#inputHospital').val() == "" || $('#inputDept').val() == ""
				|| $('#inputDoctor').val() == "" || $('#inputTime').val() == "") {
            showNotifiaction();
			return;
		}

		
		$
				.ajax({
					type : "GET",
					url : "http://www.cs.nctu.edu.tw/~hcsu/hospital/local-ajax/register.php",
					dataType : "jsonp",
					data : {
						'hospitalId' : $('#hospitalId').val(),
						'doctorId' : $('#doctorId').val(),
						'deptId' : $('#deptId').val(),
						'hospital' : $('#inputHospital').val(),
						'dept' : $('#inputDept').val(),
						'doctor' : $('#inputDoctor').val(),
						'id' : $('#inputIdValue').val(),
						'birthday' : $('#inputBirthdayValue').val(),
						'time' : $('#inputTime').val(),
						'first' : 'true'
					},
					success : function(response) {
						var row = $
								.template('<div class="row"><div class="left">${item}</div><div class="right">${value}</div><div class="clear"></div></div>');
                        $('#checkRegister').html("");
                        $('#checkRegister').append('<div id="title">掛號成功</div>');
						$('#checkRegister').append(row, {
							item : '醫院:',
							value : $('#inputHospital').val()
						});
						$('#checkRegister').append(row, {
							item : '科別:',
							value : $('#inputDept').val()
						});
						$('#checkRegister').append(row, {
							item : '醫生:',
							value : $('#inputDoctor').val()
						});
						$('#checkRegister').append(row, {
							item : '時段:',
							value : $('#inputTime').val()
						});
						$('#checkRegister').append(row, {
							item : '診號:',
							value : response['message']
						});
		                $('#checkRegister').append('<div id="check" onClick="updateCookie();">確認完成</div>');
						$('#checkRegister').removeClass('hidden');
						$('#transparent').removeClass('hidden');
                        var queryDivTop = (window.innerHeight - $('#checkRegister').height()) / 2;
                        $('#checkRegister').css("top", queryDivTop);
					},
					error : function(xhr, ajaxOptions, thrownError) {
						//alert("Error. back to main page");
						window.location="/";
					}
				});

	}
	

	
	function lastPage() {
		$("body").append('<div id="loadingNewPage">載入中...</div>');
		window.location='/register	';
	}	
	

    function editPage(title, newInfo) {
        if(newInfo == 1) {
            $('#inputName').val("");
            $('#inputId').val("");
            $('#inputBirthday').val("");
            $('#inputPhone').val("");
            $('#deleteButton').addClass('hidden');
        }
        else {
            $('#inputName').val($('#inputNameValue').html());
            $('#inputId').val($('#inputIdValue').html());
            $('#inputBirthday').val($('#inputBirthdayValue').html());
            $('#inputPhone').val($('#inputPhoneValue').html());
            $('#deleteButton').removeClass('hidden');
        }
        $('#editInfo').slideDown('slow');
        $('#transparent').removeClass('hidden');
        $('#newInfoTitle').html(title);
    }
	
    function hideEditPage() {
        $('#editInfo').slideUp('slow');
        $('#transparent').addClass('hidden');

    }

    function closeEditMode() {
        if( navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/iPad/i)) {
            window.location="/cancel";
        }
        hideEditPage();
    }
		
    function takeshot() {
        if($('#inputIdValue').val() == "") {
            showNotifiaction();
        }
        else {
            if( navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/iPad/i)) {
                window.location='/takeshot?id='+$('#inputIdValue').val();
            }
        }
    }
</script>
</head>

<body>
    <div id="transparentBackground" class="hidden">
        <div id="whiteBackground" >
	        <div id="onLoad">讀取中</div>
        </div>
    </div>

	<div id="transparent" class="hidden">
	 <div id="checkRegister" class="hidden">
		</div>
	</div>
    <div id="notificationBackground" class="hidden"></div>
	<div id="notification" class="hidden">
       <div id="notificationText">請先填入資料</div>
       <div id="notificationButton" onClick="closeNotification();">確認</div>
    </div>
	
	<div id="personal">
		<div id="photoTitle" class="title">個人資料</div>
		<div class="photoList" id="personList">			
		
		</div>
		 <div class="button" id="newInfo" onClick="editPage('新增個人資料',1)">新增資料</div>
	</div>

	
	
	<div id="info">
				
		<div class="redTitle">填寫個人資料 </div>
		
		<form id="personalInfo" method="post" enctype="multipart/form-data"
			action="/">
			<div class="formData">
				
				<div class="inputTextLeft">姓名：</div>
				<div class="inputTextRight">
					<input type="text" id="inputNameValue" placeholder="請輸入姓名"></input>
					<!-- <span id="inputNameValue" ></span> -->
<!-- 					<span class="editButton" id="editButton" onclick="editPage('編輯個人資料', 0)">編輯</span>
 -->				</div>
				
				<div class="clear"></div>
				<div class="inputTextLeft">身分證：</div>
				<div class="inputTextRight">
					<!-- <span id="inputIdValue" ></span> -->
					<input type="text" id="inputIdValue" placeholder="請輸入身分證字號"></input>
				</div>
				<div class="clear"></div>
				<div class="inputTextLeft">生日：</div>
				<div class="inputTextRight">
					<input type="text" id="inputBirthdayValue"
						placeholder="請輸入生日,例：1988/02/03"></input>
					<!-- <span id="inputBirthdayValue" ></span> -->
				</div>
				<div class="clear"></div>
				<div class="inputTextLeft">電話：</div>
				<div class="inputTextRight">
					<input type="text" id="inputPhoneValue"
						placeholder="請輸入電話號碼"></input>
						<span class="editButton" id="editButton" onclick="takeshot()">拍照</span>
					<!-- <span id="inputPhoneValue" ></span> -->
				</div>
				<div class="clear"></div>
			</div>
			<a class="button" id="lastPage" onClick="lastPage();"	>上一步</a> 
			<a class="button" id="submit" onClick="javascript:submitRegister();">完成</a>
			<div class="clear"></div>

            <input type="hidden" id="hiddenId" ></input> 
            <input type="hidden" id="hiddenBirthday"></input> 
            <input type="hidden" id="hospitalId" value="{{hospitalId}}">
            <input type="hidden" id="deptId" value="{{deptId}}">
            <input type="hidden" id="doctorId" value="{{doctorId}}">
            <input type="hidden" id="inputHospital" value="{{hospital}}">
            <input type="hidden" id="inputDept" value="{{dept}}">
            <input type="hidden" id="inputDoctor" value="{{doctor}}">
            <input type="hidden" id="inputTime" value="{{time}}">
            
		</form>
	</div>
	
	
	<div class="clear"></div>
	
		
	<div id="editInfo">
				
		<div class="redTitle" id="newInfoTitle"></div>
		<!--<div id="notification" class="hidden" >請填入資料後，<br>按送出以新增資料</div>-->
		
		<form id="personalInfo" method="post" enctype="multipart/form-data"
			action="/register">
			<div class="formData">
				<div class="inputTextLeft">姓名：</div>
				<div class="inputTextRight">
					<input type="text" id="inputName" placeholder="請輸入姓名"></input>
					<span class="editButton" id="deleteButton" onclick="deletePerson($('#inputId').val())">刪除</span>
				</div>
				<div class="clear"></div>
				<div class="inputTextLeft">身分證：</div>
				<div class="inputTextRight">
					<input type="text" id="inputId" placeholder="請輸入身分證字號"></input>
				</div>
				<div class="clear"></div>
				<div class="inputTextLeft">生日：</div>
				<div class="inputTextRight">
					<input type="text" id="inputBirthday"
						placeholder="請輸入生日,例：1988/02/03"></input>
				</div>
				<div class="clear"></div>
				<div class="inputTextLeft">電話：</div>
				<div class="inputTextRight">
					<input type="text" id="inputPhone"
						placeholder="請輸入電話號碼"></input>
                <span class="editButton" id="editButton" onclick="takeshot()">拍照</span>
				</div>
				<div class="clear"></div>
			</div>
			<a class="button" id="lastPage" onClick="closeEditMode()">取消</a> 
			<a class="button" id="submit" onClick="updateCookie();">送出</a>
			<div class="clear"></div>

		</form>
	</div>
	
</body>
</html>
